#cat-row{
    display: inline-flex;
    text-align: center;
    align-items: center;
    margin-top: 50px;
    border-radius: 34px;
    border-color: cadetblue;
    background-color: cadetblue;
    margin: 0 auto;
    padding: 30px 75px;
}

#cat-row div{
    text-align: center;
}

#title{
    background-color: teal;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    padding: 20px;

    
}

#back{
    background-color: rgb(42, 201, 180);
}

#flex-content{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 50px;
}

#endpage{
    background-color: teal;
    text-align: center;
    font-size: 12px;
    color: white;
    height: 10vh;
}