/* Estilo usado para las dos secciones de fotos de gato, tanto la estática, como la GIF, definiendo la orientación y posición de los objetos, . */
#cat-row{
    display: inline-flex;
    text-align: center;
    align-items: center;
    margin-top: 50px;
    border-radius: 34px;
    border-color: cadetblue;
    background-color: cadetblue;
    margin: 0 auto;
    padding: 30px 75px;
}

/* Estilo sin usar, ignorar. */
#cat-row div{
    text-align: center;
}

/* Estilo usado para la sección del título, definiendo el color del fondo, del texto y el estilo del texto. */
#title{
    background-color: teal;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    padding: 20px;

    
}

/* Estilo usado para el fondo de la página. */
#back{
    background-color: rgb(42, 201, 180);
}

/* Este es usado para poder organizar y alinear los objetos en el centro de la página. */
#flex-content{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 50px;
}

/* Usado para el footer de la página, abarca todo el espacio disponible al final de la página. */
#endpage{
    background-color: teal;
    text-align: center;
    font-size: 12px;
    color: white;
    height: 10vh;
}